html,
body,
.container {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'MaryAnn';
  font-weight: 400;
  font-size: 14px;
  background-color: #000000;
}

.canvas {
  opacity: 1;
  transition: opacity 1s ease;
}

.has-overlay .canvas {
  opacity: 0;
}

.score {
  font-size: 2rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: #FFFFFF;
  text-align: center;
}

.has-overlay .score {
  position: absolute;
  top: initial;
  bottom: 2rem;
  left: 50%;

  transform: translateX(-50%);
}

.has-overlay .score::before {
  content: "Last Score "
}

.button {
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  background: none;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
}

.button--stop {
  opacity: 1;
  position: absolute;
  top: 2rem;
  left: 2rem;
  border: none;
  color: #F06C00;
}

.has-overlay .button--stop {
  opacity: 0;
}

.button--play {
  opacity: 0;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.has-overlay .button--play {
  transition: opacity 1s ease;
  transition-delay: 1.5s;
  opacity: 1;
}

.work-link {
  position: absolute;
  font-size: 1.5rem;
  right: 2rem;
  bottom: 2rem;
  color: #F06C00;
  text-decoration: none;
}

.logo-link {
  position: absolute;
  left: 2rem;
  bottom: 2rem;
  height: 1.5rem;
  margin: 0;
  text-align: left;
  fill: #F06C00;
}

.logo-link svg {
  height: 100%;
  width: auto;
}

.cursor {
  height: 6rem;
  margin-left: 3rem;
}

.cursor svg {
  fill: #FFFFFF;
  height: 100%;
  width: auto;
}

.has-overlay .work-link {
  color: #FFFFFF;
  transition: color 1s ease;
}

.has-overlay .logo-link {
  fill: #FFFFFF;
  transition: fill 1s ease;
}

.splash-circle {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -100vh;
  margin-top: -100vh;

  transform: scale(0);

  width: 200vh;
  height: 200vh;
  border-radius: 100%;
  background-color: #F06C00;
}

.has-overlay .splash-circle {
  display: block;
  animation: grow 1.5s forwards;
  animation-delay: 0.5s;
}

.splash-screen {
  display: none;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  font-weight: 700;
  font-size: 5rem;
  line-height: 5.5rem;
  text-align: right;
  color: #FFFFFF;
  background-color: #F06C00;
}

.has-overlay .splash-screen {
  opacity: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  animation: fadein 1s forwards;
  animation-delay: 1.2s;
}

@keyframes grow {
  from { transform: scale(0); }
  to { transform: scale(1) }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
