html,
body,
.container {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'MaryAnn-Regular';
  background-color: #000000;
}

.work-link {
  position: absolute;
  font-size: 1.5rem;
  right: 2rem;
  bottom: 2rem;
  color: #F06C00;
  text-decoration: none;
}

.logo-link {
  position: absolute;
  left: 2rem;
  bottom: 2rem;
  height: 1.5rem;
  margin: 0;
  text-align: left;
  fill: #F06C00;
}

.logo-link svg {
  height: 100%;
  width: auto;
}

.cursor {
  height: 9rem;
}

.cursor svg {
  fill: #FFFFFF;
  height: 100%;
  width: auto;
}

.has-overlay .work-link {
  color: #FFFFFF;
  transition: color 1s ease;
}

.has-overlay .logo-link {
  fill: #FFFFFF;
  transition: fill 1s ease;
}

.splash-circle {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -100vh;
  margin-top: -100vh;

  transform: scale(0);

  width: 200vh;
  height: 200vh;
  border-radius: 100%;
  background-color: #F06C00;
}

.has-overlay .splash-circle {
  display: block;
  animation: grow 1.5s forwards;
  animation-delay: 0.5s;
}

.splash-screen {
  display: none;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  font-family: 'MaryAnn-Bold';
  font-size: 5rem;
  line-height: 5.5rem;
  text-align: right;
  color: #FFFFFF;
  background-color: #F06C00;
}

.has-overlay .splash-screen {
  opacity: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  animation: fadein 1s forwards;
  animation-delay: 1.2s;
}

@keyframes grow {
  from { transform: scale(0); }
  to { transform: scale(1) }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
